@model MVC_form_Valid_Error.Models.Cliente

<h2>Crear Cliente</h2>

<form asp-action="Crear" method="post">

    <div asp-validation-summary="All" class="text-danger"></div>

    <div>
        <label asp-for="Nombre"></label>
        <input asp-for="Nombre" class="form-control" />
        <span asp-validation-for="Nombre" class="text-danger"></span>
    </div>

    <div>
        <label asp-for="Email"></label>
        <input asp-for="Email" class="form-control" />
        <span asp-validation-for="Email" class="text-danger"></span>
    </div>

    <div>
        <label asp-for="Telefono"></label>
        <input asp-for="Telefono" class="form-control" />
    </div>

    <div>
        <label asp-for="FechaNacimiento"></label>
        <input asp-for="FechaNacimiento" type="date" />
    </div>

    <button type="submit" class="btn btn-primary">
        Guardar
    </button>

</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}